
<div class="field">
    <label>Username</label>
    <input type="text" name="name">
</div>

<div class="field">
    <label>Password</label>
    <input type="text" name="password">
</div>

<div class="field">
    <label>Confirm Password</label>
    <input type="text" name="confirm">
</div>
