<nav class="navbar">
    <a href="/" class="logo">
        
    </a>

    <ul class="links">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </ul>
</nav>

<div class="content">
    <p>Welcome to Cube Timer, a website to store all your speedcubing solves.</p>
</div>