body {
    background-color: black;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    /*
    justify-content: center;
    */
}

footer {
    display: flex;
    justify-content: center;
    border: 1vh solid white;
}

p {
    color: white;
}


/*
.cube-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
/*
#cube {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.middle-row {
    display: flex;
    gap: 8px;
}

.side {
    height: 175px;
    width: 175px;
    background-color: purple;
    border: 5px solid white;
}

#invis {
    height: 50px;
    width: 50px;
    border: 5px solid black;
}

.piece {
    height: 50px;
    width: 50px;
    border: 2px solid white;
}

.face {
    display: flex;
}
*/