{% extends "base.html" %} {% block title %}Solves{% endblock %}

{% block content %}

<nav class="navbar">
    <a href="/" class="logo">
        
    </a>

    <ul class="links">
        <a href="/timer">Timer</a>
        <a href="/logout">Logout</a>
    </ul>
</nav>

<div class="timer-content">
    <table id="solvetable">
        <thead>
            <tr>
                <th colspan="5">{{ user.username }}'s Solves</th>
            </tr>

            <tr>
                <th>Date</th>
                <th>Solve Time</th>
                <th>Scramble</th>
                <th>+2</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            <!-- 
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td><button>&times;</button></td>
            </tr>
            -->

            {% for solve in solves %}
            <tr>
                <td>{{ solve.date }}</td>
                <td>{{ solve.time }}</td>
                <td>{{ solve.scramble }}</td>
                <td>{{ solve.plustwo }}</td>
                <td><button type="button" onclick="deleteSolve('{{ solve.pk }}')">&times;</button></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/solves.js') }}"></script>

{% endblock %}