{% extends "base.html" %} {% block title %}Solves{% endblock %}

{% block content %}

<nav class="navbar">
    <a href="/" class="logo">
        
    </a>

    <ul class="links">
        <a href="/timer">Timer</a>
        <a href="/logout">Logout</a>
    </ul>
</nav>

<div class="timer-content">
    <table id="solvetable">
        <thead>
            <tr>
                <th colspan="5">{{ user.username }}'s Solves</th>
            </tr>

            <tr>
                <th>Date</th>
                <th>Solve Time</th>
                <th>Scramble</th>
                <th>+2</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td><button>&times;</button></td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock %}