{% extends "base.html" %} {% block title %}Timer{% endblock %}

{% block content %}

<nav class="navbar">
    <a href="/" class="logo">
        
    </a>

    <ul class="links">
        <a href="/solves">My Solves</a>
        <a href="/logout">Logout</a>
    </ul>
</nav>

<div class="timer-content">
    <p class="scramble">
        <span id="scramble">
            R R R R R R R R R R R R R R R R R R R
        </span>
    </p>

    <p class="time">
        <span id="seconds">0.00</span>
    </p>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/timer.js') }}"></script>

{% endblock %}